{% extends 'base.html.twig' %}

{% block content %}
    {% set crud_toolbar = block('crud_toolbar') %}
    {% if crud_toolbar %}
    <div class="pull-right">
        {{ crud_toolbar | raw }}
    </div>
    {% endif %}

    <h1>{% block crud_title '' %}</h1>

    {% block crud_content '' %}
{% endblock  %}