{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Zarządzanie studiami <small>z&nbsp;planem&nbsp;lekcji</small></h1>
            <p>W tej aplikacji możesz zarządzać struktura instytutu, a także układać plan zajęć.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur optio officiis tempora non vitae aliquam, neque veritatis, sint beatae debitis omnis voluptas perspiciatis voluptatum similique nemo unde excepturi modi a!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Iste molestiae maxime voluptatum. Numquam id autem odit quo natus impedit qui repellendus sunt, nihil, suscipit adipisci repudiandae nam fugiat non a quod dignissimos quidem ut deleniti ad? Saepe, et.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Natus esse dolorem hic aliquid consequatur, numquam magni sint quod corrupti possimus tempore et quam omnis sit ullam ex. Porro, ex soluta rem corrupti sed aspernatur modi amet dolor sequi.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Architecto quod aut, tenetur rerum dolorem at, optio enim modi vel amet corporis recusandae error dolorum. Id similique, vel, adipisci, rerum non blanditiis laboriosam dolor, atque veritatis nemo autem tempora.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium harum quaerat deleniti ratione ipsa, molestias quod est minus id rem, ad, mollitia corporis? Fugit totam quas eius, eos expedita rem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Maxime labore dignissimos quo dolore possimus amet vel a accusamus aliquid ipsa cumque eligendi esse obcaecati inventore sit voluptate dolorum, iure ea accusantium, quibusdam dolorem voluptatum ipsum. Itaque, id, minima!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Odit enim totam reiciendis dolorum, cumque eaque impedit, dolore a odio temporibus quia aspernatur officia voluptas, dolor, quam inventore quod ullam distinctio alias corporis. Officia, eum, consequuntur! Magnam tempore, officiis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Lorem</h2>
                    </div>
                    <div class="panel-body">
                        <p>Soluta autem debitis, magnam nulla perspiciatis sit blanditiis in, labore quia maiores commodi voluptates repudiandae explicabo tenetur quod error sed. Quia, impedit! Animi aliquid omnis reprehenderit eaque earum id perferendis!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}