{% extends 'base.html.twig' %}

{% form_theme login_form 'bootstrap_3_layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="well">
            <h1>Login form</h1>
            {{ form_start(login_form) }}
                {{ form_widget(login_form) }}
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-lock" aria-hidden="true"></i> Login
                </button>
            {{ form_end(login_form) }}
        </div>
    </div>
</div>
{% endblock  %}